@font-face{
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MaruBuri-Regular.woff2') format('woff2');
}

/* Bold 700 */
@font-face {
  font-family: 'MaruBuri';
  src: url('../fonts/MaruBuri-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
